<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}} - Runtime.land</title>
<link rel="icon" type="image/png" href="/static/img/favicon.ico" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/zephyr/bootstrap.min.css"
    integrity="sha256-9yMqhblBBzFxTM0lE00RTWkthKZiUcYuqd8NcQDQRqo=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI=" crossorigin="anonymous">
<link rel="stylesheet" href="/static/main.css">