<nav class="navbar navbar-expand-lg py-3 bg-light fs-5 border-bottom" data-bs-theme="light">
    <div class="container">
        <a class="navbar-brand" href="/projects">
            <img src="/static/img/logo-v2.png" width="32" height="32" class="me-2" />
            Runtime.land
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/projects">Projects
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
            </ul>
            <div class="d-flex">
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle show"
                        data-bs-toggle="dropdown" aria-expanded="true">
                        <img src="{{user.avatar}}" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small mt-2 dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>