<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> parts/head.hbs}}
</head>

<body>
    <div id="root">
        {{> parts/sidebar.hbs}}
        <main id="main" class="w-100 overflow-y-auto">
            {{> parts/top-nav.hbs}}
            <div id="main-container" class="overflow-y-auto">
                <div id="deploy-logs-dashboard" class="p-3">
                    admin-deploy-logs
                </div>
            </div>
            {{> parts/footer.hbs}}
        </main>
    </div>
    {{> parts/js.hbs}}
</body>

</html>