@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

html,
body {
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.hljs-ln-line.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 8px !important;
}

.hljs-ln-line.hljs-ln-code {
    padding-left: 8px !important;
}

i.bx {
    font-size: 19px;
}

.vertical-center,
.y-center {
    display: flex;
    align-items: center;
}

.cl-card {
    box-shadow: none !important;
    border: 1px solid #dbdcde
}

.btn.btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.hx-message {
    display: none;
}

.hx-message.htmx-settling {
    display: block;
}

.hx-message .err-message {
    color: #b22b38;
    background-color: #f8d7da;
    border-color: #f68490;
    border-radius: .25rem;
    padding: .5rem 1rem;
}

.hx-message .ok-message {
    color: #008000;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: .25rem;
    padding: .5rem 1rem;
}

html[data-bs-theme="dark"] {
    --bs-border-color: #34393e !important;
}

html[data-bs-theme="dark"] .dropdown-menu,
html[data-bs-theme="dark"] .dropdown-divider {
    border-color: var(--bs-border-color) !important;
}

html[data-bs-theme="dark"] .btn-dark {
    background-color: #34393e !important;
}

#root {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex !important;
    flex-wrap: nowrap !important;
}

#sidebar {
    width: 220px;
    background-color: #f9fdfe;
}

html[data-bs-theme="dark"] #sidebar {
    background-color: var(--bs-body-bg);
}

#logo-brand,
#top-nav {
    height: 60px;
}

a.link-reset {
    text-decoration: none;
    color: inherit !important;
}

a.link-hover:hover {
    text-decoration: underline;
}

#account-nav .nav-link:hover,
#resource-nav .nav-link:hover,
#project-nav .nav-link:hover,
#admin-nav .nav-link:hover {
    background-color: #e2e4e5;
}

html[data-bs-theme="dark"] #account-nav .nav-link,
html[data-bs-theme="dark"] #resource-nav .nav-link,
html[data-bs-theme="dark"] #project-nav .nav-link,
html[data-bs-theme="dark"] #admin-nav .nav-link {
    color: #878987;
}

html[data-bs-theme="dark"] #account-nav .nav-link:hover,
html[data-bs-theme="dark"] #resource-nav .nav-link:hover,
html[data-bs-theme="dark"] #project-nav .nav-link:hover,
html[data-bs-theme="dark"] #admin-nav .nav-link:hover {
    background-color: #1a1a1a;
    color: #c3c6c4;
}

#account-nav .nav-link.active,
#project-nav .nav-link.active {
    background-color: #d4e9f4 !important;
    color: #3459e6;
}

html[data-bs-theme="dark"] #account-nav .nav-link.active,
html[data-bs-theme="dark"] #project-nav .nav-link.active {
    background-color: #1a1a1a !important;
    color: #e0e3e1 !important;
}

#admin-nav .nav-link.active {
    background-color: #f8d7da !important;
    color: #b22b38;
}

html[data-bs-theme="dark"] #admin-nav .nav-link.active {
    background-color: #b22b38 !important;
    color: #f8d7da !important;
}

#user-dropdown .dropdown-menu {
    width: 210px;
}

#user-dropdown .admin:hover {
    background-color: rgb(var(--bs-danger-rgb));
    color: white !important;
}

.project-item:hover {
    border-color: #ccc !important;
    box-shadow: .5rem #ccc;
}

html[data-bs-theme="dark"] .project-item:hover {
    border-color: #636262 !important;
}

.project-item.project-item-new {
    border-style: dashed !important;
}

.project-item .lang-logo img {
    width: 48px;
    height: 48px;
}

#projects-table .lang-logo img,
#projects-dashboard .lang-logo img {
    width: 40px;
    height: 40px;
}

#projects-table tr:last-child td,
#workers-table tr:last-child td {
    border-bottom: none;
}

#project-header .lang-logo img {
    width: 50px;
    height: 50px;
}

#not-found-container .message {
    color: #b22b38;
    background-color: #f8d7da;
    border-color: #f68490;
    border-radius: .25rem;
}

#project-deploy-status-btn {
    background-color: #c3c6c4;
}

#project-deploy-status-btn.status-failed {
    background-color: #b22b38;
    color: #e2e4e5;
}

#project-preview {
    width: 100%;
    height: 100%;
}

#projects-dashboard .badge.status-waiting {
    background-color: #DDD;
    color: #333;
}

#projects-dashboard .badge.status-success,
#admin-users-dashboard .badge.status-active {
    background-color: #008000;
    color: #e2e4e5;
}

#projects-dashboard .badge.status-failed,
#admin-users-dashboard .badge.status-disabled {
    background-color: #b22b38;
    color: #e2e4e5;
}

#log-wrapper {
    height: 160px;
}
