@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

html,
body {
    font-family: Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


#root {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex !important;
    flex-wrap: nowrap !important;
}

#sidebar {
    width: 230px;
    background-color: #f9fdfe;
}