html,
body {
    background-color: #FAFAFA;
}

.login-navbar,
.dashboard-navbar {
    border-bottom: 1px solid #ccc;
    /* add shadow in bottom*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    margin-top: 90px;
    width: 360px;
    /* Set the width of the login container */
    padding: 30px 40px;
    background-color: #fff;
    border: 1px solid #ccc;
    /* add shadow in bottom*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container-header {
    text-align: center;
    padding-bottom: .3em;
    padding-top: .5em;
}

.login-container .login-connection {
    margin: 2em 0;
}

.login-container .login-connection .item {
    margin-bottom: 1em;
}

.login-container .login-connection .item .fa {
    margin-right: .4em;
    size: 26px;
}

#dashboard-container,
#project-container,
#account-settings-container {
    margin-top: 40px;
    max-width: 900px;
}

#dashboard-header-left h2,
#project-header-left h2,
#account-settings-header h2 {
    font-size: 1.5em;
    font-weight: bold;
}

#dashboard-header-left h3 {
    font-size: 1.1em;
    color: #AAA;
    font-weight: normal;
}

#project-header-left p {
    color: #AAA;
}

#dashboard-header-right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-header-right {
    text-align: right;
    line-height: 70px;
}

.project-card {
    margin-top: 40px;
    transition: box-shadow .15s ease-in-out;
}

.project-card:hover {
    border-color: #AAA;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-card:hover .project-card-title {
    color: #111;
}

.project-card a {
    text-decoration: none;
}

.project-card .card-body {
    padding: 24px 16px;
}

.project-card-title {
    font-size: 1.2rem;
    line-height: 1.25rem;
    color: #666;
}

.project-card-title:hover {
    color: #111;
}

.project-card-updated {
    font-size: .8rem;
    color: #AAA;
    padding-left: .1rem;
}

.project-view {
    text-align: right;
    line-height: 48px;
}

#project-header-right button {
    margin-left: 1rem;
}

#project-header-right .icon,
.login-email-back svg {
    margin-right: .5rem;
}

#project-tabs-container {
    margin: 0 10px;
}

#project-tabs-container .nav-tabs {
    border: none;
}

#project-tabs-container .nav-link {
    padding: .2rem .4rem;
    margin-right: .3rem;
    border-radius: 0.3rem;
    color: #444;
}

#project-tabs-container .nav-link.active {
    border: none;
    background-color: #444;
    color: #DDD;
}

#project-tabs-container .nav-link:hover {
    background-color: #DDD;
    color: #444;
}

#project-tabs-container .nav-link.disabled {
    color: #AAA
}

#notfound-container {
    margin-top: 90px;
    width: 900px;
    line-height: 2rem;
}

#notfound-container h1 {
    font-size: 2rem;
}

.login-email-link {
    text-align: right;
}

.login-email-link a,
.login-email-back {
    color: #AAA;
    text-decoration: none;
    font-size: .9rem;
}

.login-email-link a:hover,
.login-email-back:hover {
    color: #666;
}

#login-email-form .form-label {
    font-size: .9rem;
    color: #666;
}

.dashboard-navbar-avatar {
    margin-right: 6px;
    margin-top: -2px;
}

#current-account .account-name {
    margin-left: .5rem;
}

#create-org-nav .create-org {
    margin-left: .5rem;
    font-size: 0.9rem;
    color: #AAA;
}

.profile-avatar {
    text-align: center;
}

.profile-avatar h5 {
    line-height: 2em;
}

#logging-out {
    margin: 1rem 2rem;
}

.account-settings-card {
    margin-top: 30px;
}

#access-tokens-container .card-subtitle {
    line-height: 2rem;
    color: #666;
    font-weight: normal;
}

#access-tokens-list {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#access-tokens-list .list-group-item {
    background-color: #f1f5f9;
}

#access-tokens-list .list-group-item .desc .extra {
    font-size: .8rem;
    color: #888;
}

#access-tokens-list .list-group-item .del-button {
    color: #666;
    padding: 0;
}

#access-tokens-list .list-group-item .del-button:hover {
    color: #dc3545;
}