<!doctype html>
<html>

<head>
    {{> partials/meta.hbs}}
</head>

<body>
    {{> admin/navbar.hbs}}
    <main id="main">
        <div id="project-top">
            <h1>12 Projects</h1>
        </div>
        <div id="project-searchbar">
            <form method="get" action="/admin/projects">
                <label for="project-search-input">Search</label>
                <div class="relative inline-block">
                    <div class="search-icon">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input name="search" type="search" id="project-search-input" placeholder="Project name" />
                </div>
                <button id="project-search-btn" type="submit">Search</button>
            </form>
        </div>
        <div id="projects-table-container">
            <table id="projects-table">
                <thead>
                    <th>Name</th>
                    <th>Language</th>
                    <th>Owner</th>
                    <th>Deployments</th>
                    <th>Updated Time</th>
                    <th>Ops</th>
                </thead>
                <tbody>
                    <tr>
                        <td>judiciously-organs-612</td>
                        <td>Rust</td>
                        <td>Fuxiaohei</td>
                        <td>12 <span>prod</span></td>
                        <td>1 day ago</td>
                        <td>
                            view disable enable
                    </tr>
                    <tr>
                        <td>judiciously-organs-612</td>
                        <td>Rust</td>
                        <td>Fuxiaohei</td>
                        <td>12 <span>prod</span></td>
                        <td>1 day ago</td>
                        <td>
                            view disable enable
                    </tr>
                </tbody>
            </table>
            <nav id="projects-pager">
                <ul>
                    <li>
                        <a href="#" class="page prev">Previous</a>
                    </li>
                    <li>
                        <a href="#" class="page">1</a>
                    </li>
                    <li>
                        <a href="#" class="page">2</a>
                    </li>
                    <li>
                        <a href="#" aria-current="page" class="page">3</a>
                    </li>
                    <li>
                        <a href="#" class="page">4</a>
                    </li>
                    <li>
                        <a href="#" class="page">5</a>
                    </li>
                    <li>
                        <a href="#" class="page next">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>
    {{> partials/footer.hbs}}
</body>

</html>