<!doctype html>
<html>

<head>
    {{> partials/meta.hbs}}
</head>

<body>
    {{> admin/navbar.hbs}}
    <main id="admin-main">
        <div id="project-top">
            <h1>{{project_count}} Deployments</h1>
        </div>
        <div id="project-searchbar">
            <form method="get">
                <label for="project-search-input">Search</label>
                <div class="relative inline-block">
                    <div class="search-icon">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input name="search" type="search" value="{{search}}" id="project-search-input"
                        placeholder="Project name" />
                </div>
                <button id="project-search-btn" type="submit">Search</button>
            </form>
        </div>
        <div id="projects-table-container">
            users
        </div>
    </main>
    {{> partials/footer.hbs}}
</body>

</html>