.alert-card {
  @apply p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50;
}

#sign-in-alert {
  @apply w-80 m-auto mb-6 text-2xl;
}

#top-nav {
  @apply bg-white border-b border-gray-200 dark:bg-gray-900;
}
#top-nav .container {
  @apply max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4;
}
#top-nav .logo {
  @apply flex items-center pr-4 border-r border-gray-200 dark:border-gray-700;
}
#top-nav .logo-title {
  @apply self-center text-xl whitespace-nowrap dark:text-white;
}
#top-nav-user-button {
  @apply flex mr-3 text-sm bg-gray-800 rounded-full ring-4 ring-slate-400 dark:focus:ring-slate-600;
}
#top-nav-user-avatar {
  @apply w-8 h-8 rounded-full;
}
#top-nav-user-dropdown {
  @apply z-50 my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-md border dark:bg-gray-700 dark:divide-gray-600;
}
#top-navbar {
  @apply items-center justify-between w-full md:flex md:w-auto md:order-1;
}
#top-navbar-ul {
  @apply flex flex-col font-medium ml-4 p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700;
}
#top-navbar .item {
  @apply block p-0 text-gray-900 rounded hover:text-primary;
}
#top-navbar-ul.admin .item {
  @apply hover:text-red-800;
}
#top-navbar .item.active {
  @apply block p-0 rounded text-primary;
}
#top-nav-user-dropdown .username {
  @apply block text-sm text-gray-900 dark:text-white;
}
#top-nav-user-dropdown .email {
  @apply block text-sm  text-gray-500 truncate dark:text-gray-400;
}
#top-nav-user-dropdown .item {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white;
}
#main {
  @apply max-w-4xl mx-auto my-6 min-h-[70%] px-6 md:px-0;
}

#admin-main {
  @apply max-w-screen-lg mx-auto my-6 min-h-[70%] px-6 md:px-0;
}

#project-top h1,
#account-top h1 {
  @apply text-3xl font-semibold;
}

#project-top .count,
#account-top .email {
  @apply text-gray-400 block py-2;
}

#project-searchbar {
  @apply flex justify-between items-center my-4;
}
#project-search-input {
  @apply block w-80 p-2 pl-10 text-sm text-gray-700 border border-gray-100 rounded-lg bg-gray-50 focus:ring-0 focus:border-gray-400 focus:bg-white focus:shadow-none duration-100;
}
#project-searchbar form label {
  @apply mb-2 text-sm font-medium text-gray-600 sr-only;
}
#project-searchbar form .search-icon {
  @apply absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none;
}
#project-search-btn {
  @apply ps-3 inline-block text-gray-500 hover:text-gray-600;
}

#project-createbar .new-project-button {
  @apply text-white bg-primary rounded-lg px-3 py-2.5 hover:border hover:border-primary hover:bg-white hover:text-primary duration-100;
}

.project-card {
  @apply border border-gray-200 rounded-lg p-5 flex justify-between w-1/2 mb-6 hover:border-gray-400 duration-200 hover:shadow;
}

.project-card .card-title {
  @apply text-lg font-semibold;
}

.project-card .card-metadata {
  @apply text-gray-500 pt-3;
}

.project-card .card-link {
  @apply text-gray-500 hover:text-primary pt-3 overflow-hidden whitespace-nowrap text-ellipsis max-w-xs;
}

.project-card .card-metadata .item {
  @apply border-r border-gray-200 pr-2 mr-1;
}

.project-card .card-metadata .language {
  @apply capitalize;
}

.project-card .card-metadata .item:last-child {
  @apply border-0;
}

.project-card .action-button {
  @apply px-3 py-2 rounded-lg capitalize;
}

.project-card .action-button.running {
  @apply text-white bg-emerald-600 hover:bg-emerald-700 duration-200;
}

.project-card .action-button.empty {
  @apply text-gray-400;
}

.project-card .action-button.develop {
  @apply text-yellow-800;
}

#footer {
  @apply border-t text-center text-gray-400;
  margin-top: 3rem;
  padding: 3rem;
}

#sign-in-btn-container {
  @apply text-center;
  padding-top: 8rem;
}

#sign-in-button {
  @apply text-2xl px-4 py-2 bg-primary rounded-lg text-white hover:bg-white hover:border hover:border-primary hover:text-primary;
}
#sign-out-button {
  @apply text-2xl px-4 py-2 bg-red-700 rounded-lg text-white hover:bg-white hover:border hover:border-red-700 hover:text-red-700;
}
#sign-in-button:hover svg {
  @apply text-primary;
}
#project-navbar {
  @apply font-medium text-center text-gray-500 border-b border-gray-200;
}
#project-navbar li {
  @apply mr-2;
}
#project-navbar li a.item {
  @apply inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300;
}
#project-navbar li a.item.active {
  @apply text-primary border-primary hover:text-primary hover:border-primary;
}
#project-navbar li a.item.disable {
  @apply cursor-not-allowed text-gray-400 hover:text-gray-400 hover:border-transparent;
}
#project-main {
  @apply mt-6 flex space-x-4;
}

#project-main > .left,
#account-main > .left {
  @apply w-3/4;
}

#project-main > .right,
#account-main > .right {
  @apply w-1/4;
}

#project-main .deployment-status {
  @apply bg-sky-50 rounded-lg p-6;
}
#project-main .deployment-status.develop {
  @apply bg-slate-50;
}

#project-main .deployment-status h3,
.deployment-lists h3,
.settings-project-name h3,
.settings-delete-project h3,
.account-deployment-tokens h3 {
  @apply text-xl font-semibold;
}

#project-main .deployment-status .desc,
.deployment-lists .desc,
#deployment-list .date,
.settings-project-name .desc,
.settings-delete-project .desc,
.account-deployment-tokens .desc {
  @apply text-gray-400;
}

#project-main .deployment-status p {
  @apply leading-6;
}
#project-main .deployment-status .label {
  @apply mt-6 text-gray-400 uppercase;
}
#project-main .deployment-status .domains .link,
#deployment-list a.link {
  @apply hover:underline;
}
#deployment-list span.link {
  @apply text-gray-400 cursor-not-allowed;
}
#deployment-list .link {
  @apply inline-block max-w-sm overflow-hidden whitespace-nowrap text-ellipsis;
}
.deployment-lists {
  @apply p-6 border rounded-lg border-gray-200 my-4;
}
.deployment-lists .empty {
  @apply text-gray-600 py-4;
}
#deployment-list {
  @apply mt-4;
}
#deployment-list .left {
  @apply flex justify-start;
}
#deployment-list .item {
  @apply py-3 flex justify-between;
}
#deployment-list .prod-badge {
  @apply px-1 py-0.5 text-sm text-white bg-blue-500 rounded-lg inline-block ml-2;
}
#deployment-list .disable-badge {
  @apply px-1 py-0.5 text-sm text-white bg-slate-500 rounded-lg inline-block ml-2;
}
#deployment-list .dropdown-btn {
  @apply text-sm text-gray-600;
}
#deployment-list .dropdown {
  @apply z-10 bg-white divide-y divide-gray-300 border border-gray-200 rounded-lg w-28;
}
#deployment-list .dropdown ul {
  @apply py-2 text-sm text-gray-700;
}
#deployment-list .dropdown li a {
  @apply block px-4 py-2 hover:bg-gray-100;
}
#deployment-list .date {
  @apply text-sm pr-1;
}

#project-main .settings-project-name {
  @apply bg-slate-50 rounded-lg p-6;
}

#project-main .settings-delete-project {
  @apply bg-red-50 rounded-lg p-6 mt-6;
}

.settings-delete-project h3 {
  @apply text-red-950;
}

#project-name-input {
  @apply w-72 rounded-lg px-3 h-9 border-slate-400 focus:border-slate-700 text-zinc-600 focus:outline-none focus:ring-0;
}

#settings-project-name-form .domain-suffix {
  @apply text-gray-500 inline-block h-9 leading-9 px-3;
}

#project-name-btn,
#project-delete-cancel-btn {
  @apply px-3 py-2 rounded-lg text-white bg-slate-500 hover:bg-slate-700 duration-200;
}

#delete-project-btn,
#project-delete-btn {
  @apply px-3 py-2 rounded-lg text-white bg-red-500 hover:bg-red-700 duration-200;
}

#project-delete-modal {
  @apply fixed top-0 left-0 right-0 m-auto z-50 p-6 bg-white border border-gray-200 rounded-lg;
  width: 576px;
  margin-top: 10rem;
}

#project-delete-input {
  @apply px-4 py-2 mt-4 w-full text-gray-700 border border-gray-300 rounded-lg focus:ring-0 focus:border-gray-400 focus:bg-white focus:shadow-none duration-100;
}

#project-delete-btn {
  @apply ml-6;
}

.account-deployment-tokens {
  @apply bg-stone-50 rounded-lg p-6 mt-6;
}

.account-deployment-tokens ul {
  @apply w-full text-gray-700 bg-white border border-gray-200 rounded-lg my-6;
}

.account-deployment-tokens ul li {
  @apply w-full px-5 py-3 border-b border-gray-200 rounded-t-lg flex justify-between;
}

.account-deployment-tokens .new-token-btn {
  @apply px-3 py-2 rounded-lg text-white bg-primary hover:bg-sky-700 duration-200;
}

.account-deployment-tokens .del-btn {
  margin-top: 4px;
  margin-bottom: 4px;
  @apply hover:text-red-800 inline-block;
}

.account-deployment-tokens .new-token-input {
  @apply w-60 px-4 py-2 text-gray-700 border border-gray-300 rounded-lg focus:ring-0 focus:border-gray-400 focus:bg-white focus:shadow-none duration-100;
}

.account-deployment-tokens .new-token-value {
  @apply p-4 border border-emerald-300 bg-emerald-50 flex justify-between rounded-lg mt-4;
}

.account-deployment-tokens .new-token-btn-link {
  @apply px-3 py-2 rounded-lg text-white bg-green-600 hover:bg-green-800 duration-200;
}

#projects-table-container {
  @apply border-t border-gray-200 mt-6 pt-6;
}

.projects-table {
  @apply w-full text-left text-zinc-600;
}

.projects-table thead {
  @apply text-sm uppercase bg-zinc-50;
}

.projects-table thead th,
.projects-table tbody td {
  @apply p-4;
}

.projects-table td.lang {
  @apply capitalize text-gray-400;
}

.projects-table td.status {
  @apply uppercase text-sm font-semibold;
}

.projects-table td.status.inactive {
  @apply text-red-800;
}

.projects-table td.status.active {
  @apply text-green-700;
}

.projects-table td.status.pending {
  @apply text-gray-400;
}

.projects-table td.name,
.projects-table td.domain {
  @apply font-semibold;
}

.projects-table td .prod {
  @apply text-white text-xs px-2 py-1 rounded-md bg-primary ml-2;
}

.projects-table td.ops,
.projects-table td.updated,
.projects-table td.owner,
.projects-table td.project {
  @apply text-sm;
}

.projects-table td.project {
  @apply text-gray-500;
}

.projects-table td.ops button {
  @apply mr-1 text-sm;
}

.projects-table td.ops form {
  @apply inline-block;
}

.projects-table td.ops .enable {
  @apply text-green-700;
}

.projects-table td.ops .disable {
  @apply text-red-700;
}

.projects-table td.ops svg {
  @apply inline-block w-5 h-5;
}

.projects-pager {
  @apply py-6 px-4 flex justify-center;
}

.projects-pager ul {
  @apply inline-flex -space-x-px;
}

.projects-pager li a.page {
  @apply flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700;
}

.projects-pager li a.page.active {
  @apply text-white bg-primary border-primary;
}

.projects-pager li a.prev {
  @apply rounded-l-lg;
}

.projects-pager li a.next {
  @apply rounded-r-lg;
}
