<div id="main-nav" class="d-flex flex-column flex-shrink-0 border-end">
    <div class="brand d-flex align-items-center p-3 border-bottom">
        <img width="30" height="30" src="/static/img/logo-v2.png" class="inline-block border rounded-1 p-1 bg-white"
            alt="logo">
        <span class="fs-5 fw-bold ms-2">Runtime.land</span>
    </div>
    <div class="flex-column mb-auto pt-3">
        <div class="projects-nav px-3">
            <nav class="nav flex-column">
                <p class="text-uppercase small text-body-tertiary pb-1 mb-0">Projects</p>
                <a class="nav-link active rounded-2 mt-1" href="#"><i class="bi bi-clipboard-data me-2"></i>Overview</a>
                <a class="nav-link rounded-2 mt-1" href="#"><i class="bi bi-kanban me-2"></i>Projects</a>
            </nav>
        </div>
    </div>
    <div class="nav-bottom">
        <div class="resources-nav px-3 pb-4">
            <nav class="nav flex-column">
                <p class="text-uppercase small text-body-tertiary pb-1 mb-0">Resources</p>
                <a class="nav-link rounded-2 mt-1" href="#"><i class="bi bi-chat-square-dots me-2"></i>Feedback</a>
                <a class="nav-link rounded-2 mt-1" href="#"><i class="bi bi-files-alt me-2"></i>Docs</a>
            </nav>
        </div>
    </div>
</div>