<div id="top-nav" class="border-bottom d-flex justify-content-end align-items-center">
    <div class="dropdown border-end pe-4 me-4" id="main-nav-user-dropdown">
        <button id="main-nav-user-dropdown-btn" class="btn btn-secondary dropdown-toggle" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img width="20" height="20" src="https://avatars.githubusercontent.com/u/2142787?v=4" alt="user-avatar"
                class="rounded-1" />
            <span class="ps-2 pe-1">FuXiaoHei</span>
        </button>
        <ul class="dropdown-menu">
            <li><button class="dropdown-item" type="button"><i class="bi bi-gear me-2"></i>Settings</button>
            </li>
            <li><button class="dropdown-item" type="button"><i class="bi bi-x-octagon me-2"></i>Sign Out</button></li>
        </ul>
    </div>
    <div class="d-flex align-items-center color-modes me-4">
        <button class="btn btn-link px-0 text-decoration-none d-flex align-items-center" id="bd-theme" type="button">
            <i class="bi bi-brightness-high bs-theme-current-icon bs-theme-current-icon-light text-dark"></i>
            <i class="bi bi-moon-fill d-none bs-theme-current-icon bs-theme-current-icon-dark"></i>
        </button>
    </div>
</div>