<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}} | Runtime.land</title>
<link rel="icon" href="/static/img/favicon.ico" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/zephyr/bootstrap.min.css"
    integrity="sha256-9yMqhblBBzFxTM0lE00RTWkthKZiUcYuqd8NcQDQRqo=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css"
    integrity="sha256-Yg7qJLDO4djMg5XIDylc8ue2+rliSTwmtJqNQrY6Tck=" crossorigin="anonymous">
<link rel="stylesheet" href="/static/style.css">