<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    {{> partials/head.hbs}}
</head>

<body>
    <main id="main-container" class="d-flex flex-nowrap">
        {{> partials/admin-sidebar.hbs}}
        <div id="main-body" class="w-100">
            {{> partials/nav-top.hbs}}
            <div id="main-panel" class="overflow-y-auto">
                <div id="main-stats" class="container mt-3">
                    <div>
                        <h5>Dashboard</h5>
                        <p class="text-body-tertiary mb-1">Manage all projects here.</p>
                    </div>
                    <div class="row pt-2">
                        <div class="col-5">
                            <div class="row g-2">
                                <div class="col-6 pe-4 pb-4">
                                    <div class="card shadow-none">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>
                                                <h5 class="card-title">Users</h5>
                                                <p class="fs-3 fw-bold gauge">12</p>
                                            </div>
                                            <i class="text-body-tertiary fs-4 bi bi-people-fill"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 pe-4 pb-4">
                                    <div class="card shadow-none">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>
                                                <h5 class="card-title">Projects</h5>
                                                <p class="fs-3 fw-bold gauge">24</p>
                                            </div>
                                            <i class="text-body-tertiary fs-4 bi bi-kanban"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 pe-4 pb-4">
                                    <div class="card shadow-none">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>
                                                <h5 class="card-title">Requests</h5>
                                                <p class="fs-3 fw-bold gauge">32.23K</p>
                                            </div>
                                            <i class="text-body-tertiary fs-4 bi bi-cloud-fog2"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 pe-4 pb-4">
                                    <div class="card shadow-none">
                                        <div class="card-body d-flex justify-content-between">
                                            <div>
                                                <h5 class="card-title">Bytes</h5>
                                                <p class="fs-3 fw-bold gauge">126.55 MB</p>
                                            </div>
                                            <i class="text-body-tertiary fs-4 bi bi-clouds-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            traffic pages
                        </div>
                    </div>
                </div>
                {{> partials/nav-footer.hbs}}
            </div>
    </main>
    {{> partials/footer.hbs}}
</body>

</html>