<!doctype html>
<html lang="en">

<head>
    {{> partials/head.hbs}}
</head>

<body>
    {{> partials/admin_nav.hbs}}

    <header class="py-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-between">
            <span class="fs-3">
                <span class="fw-bold">Dashboard</span>
                <span class="fs-6 ms-1 badge text-bg-dark">management</span>
            </span>
        </div>
    </header>

    <main>
        <div class="container">
            Dashboard
        </div>
    </main>
    {{> partials/footer.hbs}}
</body>

</html>