<!doctype html>
<html lang="en">

<head>
    {{> partials/head.hbs}}
</head>

<body>
    {{> partials/nav.hbs}}

    <header class="py-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-between">
            <span class="fs-3">
                <span class="fw-bold">Projects</span>
                <span class="fs-6 ms-1">(12)</span>
            </span>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                    <a class="btn btn-outline-light" href="/projects" role="button">
                        <i class="bi bi-search me-2"></i>Search
                    </a>
                    <a class="btn btn-primary" href="/new" role="button">
                        <i class="bi bi-plus-square me-2"></i>New Project
                    </a>
                </div>
            </form>
        </div>
    </header>

    <main>
        <div class="container">
            <ul class="list-group list-group-flush shadow-none">
                <li class="list-group-item pt-4 list-group-item-action">
                    <a href="#"
                        class="d-block d-flex link-dark link-underline link-underline-opacity-0 flex-wrap justify-content-between">
                        <div class="d-flex justify-content-start">
                            <div class="language">language-logo</div>
                            <div class="ms-3">
                                <h3 class="fs-3 text-body-emphasis">spin-hello</h3>
                                <p>spin-hello-nvdhtzkm.fermyon.app</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <span>Created on January 17th, 2023</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item pt-4 list-group-item-action">
                    <a href="#"
                        class="d-block d-flex link-dark link-underline link-underline-opacity-0 flex-wrap justify-content-between">
                        <div class="d-flex justify-content-start">
                            <div class="language">language-logo</div>
                            <div class="ms-3">
                                <h3 class="fs-3 text-body-emphasis">spin-hello</h3>
                                <p>spin-hello-nvdhtzkm.fermyon.app</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <span>Created on January 17th, 2023</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item pt-4 list-group-item-action">
                    <a href="#"
                        class="d-block d-flex link-dark link-underline link-underline-opacity-0 flex-wrap justify-content-between">
                        <div class="d-flex justify-content-start">
                            <div class="language">language-logo</div>
                            <div class="ms-3">
                                <h3 class="fs-3 text-body-emphasis">spin-hello</h3>
                                <p>spin-hello-nvdhtzkm.fermyon.app</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <span>Created on January 17th, 2023</span>
                        </div>
                    </a>
                </li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
    </main>
    {{> partials/footer.hbs}}
</body>

</html>