<!doctype html>
<html>

<head>
    {{> partials/meta.hbs}}
</head>

<body>
    {{> partials/navbar.hbs}}
    <main id="main">
        <div id="project-top">
            <h1>spryest-pyknoses-242</h1>
            <span class="count">PENDING PRODUCTION DEPLOYMENT</span>
        </div>
        <div id="project-navbar">
            <ul class="flex flex-wrap -mb-px">
                <li>
                    <a href="#" class="item active">Overview</a>
                </li>
                <li>
                    <a class="item disable">Traffic</a>
                </li>
                <li>
                    <a href="#" class="item">Settings</a>
                </li>
            </ul>
        </div>
        <div id="project-main" class="mt-6 flex space-x-4">
            <div class="left">
                <div class="deployment-status">
                    <h3>Production Deployment</h3>
                    <p class="desc">This project is in Production.</p>
                    <div class="domains">
                        <p class="label">domain</p>
                        <p class="link"><a href="#">calm-cod-79-hxzfdq7zh6w7.dev</a></p>
                        <p class="link"><a href="#">calm-cod-79.dev</a></p>
                    </div>
                    <div class="updated">
                        <p class="label">updated</p>
                        <p>3 Days ago</p>
                    </div>
                </div>

                <div class="deployment-lists">
                    <h3>All Deployments</h3>
                    <p class="desc">All deployments for this project.</p>
                    <ul id="deployment-list">
                        <li class="item">
                            <div class="left">
                                <a href="#" class="link">calm-cod-79-hxzfdq7zh6w7.xxxx.dev</a>
                                <span class="prod-badge">prod</span>
                            </div>
                            <div class="right">
                                <span class="date">3 Days ago</span>
                                <span class="ops">ops</span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="left">
                                <span class="status">ok</span>
                                <a href="#" class="link">calm-cod-79-hxzfdq7zh6w7.xxxx.dev</a>
                            </div>
                            <div class="right">
                                <span class="date">3 Days ago</span>
                                <span class="ops">ops</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">w-1/4</div>
        </div>
    </main>
    {{> partials/footer.hbs}}
</body>

</html>