<!doctype html>
<html>

<head>
    {{> partials/meta.hbs}}
</head>

<body>
    <main id="login-main">
        <div id="sign-in"></div>
        <div id="sign-in-btn-container">
            <button id="sign-out-button" disabled>Waiting sign out via Clerk.js</button>
        </div>
    </main>
    <script async crossorigin="anonymous"
        data-clerk-publishable-key="pk_test_cGV0LW1vb3NlLTc1LmNsZXJrLmFjY291bnRzLmRldiQ" onload="clerkLoad()"
        src="https://pet-moose-75.clerk.accounts.dev/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
        type="text/javascript">
        </script>
    <script type="text/javascript">
        async function clerkLoad() {
            await window.Clerk.load();
            await window.Clerk.signOut();
            await window.Clerk.navigate('/sign-in');
        }
    </script>
</body>

</html>