<!doctype html>
<html>

<head>
    {{> partials/meta.hbs}}
</head>

<body>
    <main id="login-main">
        <div id="sign-in"></div>
        <div id="sign-in-btn-container">
            <div id="sign-in-alert" class="alert-card hidden" role="alert">
                <span class="font-medium block">Login failed.</span>
                Some error occurred when trying to login. Please try again later.
            </div>
            <div role="status">
                <svg aria-hidden="true" class="w-20 h-20 my-6 mx-auto text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="currentColor" />
                    <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentFill" />
                </svg>
                <span class="sr-only">Loading...</span>
            </div>
            <button id="sign-in-button" disabled onclick="clerkOpen()">Login via Clerk.js</button>
        </div>
    </main>
    <script async crossorigin="anonymous"
        data-clerk-publishable-key="pk_test_cGV0LW1vb3NlLTc1LmNsZXJrLmFjY291bnRzLmRldiQ" onload="clerkLoad()"
        src="https://pet-moose-75.clerk.accounts.dev/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
        type="text/javascript">
        </script>
    <script type="text/javascript">
        async function clerkLoad() {
            await window.Clerk.load();
            let show = async function () {
                if (!window.Clerk.isReady()) {
                    return
                }
                clearInterval(window.intervalID)

                // if clerk is signed in, redirect to projects page
                if (window.Clerk.session && window.Clerk.user) {
                    let verify_data = {
                        session_id: window.Clerk.session.id,
                        user_id: window.Clerk.user.id,
                        user_image_url: window.Clerk.user.imageUrl,
                        user_first_name: window.Clerk.user.firstName,
                        user_full_name: window.Clerk.user.fullName,
                        user_name: window.Clerk.user.username,
                        user_email: window.Clerk.user.primaryEmailAddress.emailAddress,
                        oauth_social: window.Clerk.user.primaryEmailAddress.verification?.strategy || "unknown",
                        redirect_to: "/projects",
                    }
                    let data = encodeURIComponent(btoa(JSON.stringify(verify_data)))
                    await window.Clerk.navigate('/sign-callback/' + data);
                    return;
                }

                // render ui
                const signInComponent = document.querySelector('#sign-in');
                window.Clerk.openSignIn(signInComponent, {
                    appearance: {
                        baseTheme: "dark"
                    }
                });

                // update sign-in button to open sign-in panel
                let button = document.querySelector('#sign-in-button');
                button.disabled = false;
                button.textContent = "Sign-in via Clerk.js"
            }

            window.intervalID = setInterval(show, 100);
        }

        async function clerkOpen() {
            await window.Clerk.openSignIn({
                appearance: {
                    baseTheme: "dark"
                }
            });
        }
    </script>
</body>

</html>