@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

$font-family-base: "Open Sans", sans-serif;
$primary: #2a70b6;
$nav-pills-link-active-color: #1965b1;
$nav-pills-link-active-bg: #daeafa;
$nav-link-color: #4a6075;
$nav-link-hover-color: #0d1b27;
$nav-link-disabled-color: #9da1a6;
$table-hover-bg: #e4edf7;

@import "bootstrap/scss/bootstrap";

:root {
  --sidebar-bg: #f3f7fa;
  --sidebar-divider-bg: #b8bcc2;
  --sidebar-nav-link-hover-bg: #e5eaee;
  --success-light-bg: #e5fae8;
}

#nav-account-dropdown.nav-link {
  display: inline-block;
}

.deployments-list,
.deployment-production {
  .deployment-link {
    text-decoration: none;
  }
  .deployment-link:hover {
    text-decoration: underline;
  }
}

.project-name-updater {
  .project-name-input {
    max-width: 520px;
  }
}

#projects-list-container {
  width: 64rem;
  .project-link {
    max-width: 18rem;
  }
  .project-row:hover {
    border-color: rgba(107, 114, 128, 0.8) !important;
    background-color: #fff;
  }
}

#project-overview-container,
#account-container,
#admin-page {
  width: 64rem;
}

#deployment-tokens-list {
  .token-name {
    min-width: 6rem;
  }
  .trash-btn {
    color: #0d1b27;
  }
  .trash-btn:hover {
    color: rgb(195, 46, 46);
  }
}

#error-alert {
  width: 32rem;
}
